html {
   height: 100%;
  /* background-image: url("Images/Shared/BackGround.png");*/
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: 100% 100%;
   background-repeat: no-repeat;
   

}


.scoreBox{
   border-radius: 10px 10px 10px 10px;
   border: 6px solid #d69822;
   background-color: #ffffff;
   position: fixed;
   left: 5%;
   top: 50px;
   right: 5%;
   text-align: center;
   padding-top: 5px;
   padding-left: 2%;
   padding-right: 2%;
   padding-bottom: 215px;
    bottom:5px;
   color: #d69822;
   font-size: 6vw;
   font-weight: 500;
   line-height: 1.5;

}


.waitText {
   border: none;
   color: #d69822;
   background-color: transparent;
   font-size: 5vw;
   position: fixed;
   font-weight: 500;
   left: 11%;
   right: 5%;
   text-align: left;
   top:  480px;
}




input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
