body {
    background-image: url("background22.png");
    position: fixed;
    background-size: 100em;
    font-family: "Avenir Next";
}

.wait {
    border-radius: 10px 10px 10px 10px;
    border: 6px solid #d69822;
    background-color: #ffffff;
    position: fixed;
    left: 5%;
    top: 15vw;
    right: 5%;
    text-align: left;
    padding-top: 95px;
    padding-left: 7%;
    padding-right: 2%;
    padding-bottom: 95px;
    color: #686868;
    font-size: 70px;
    font-weight: 500;
}
