<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Cat 3c</title>
    <script src="../static/scripts/requests.js"></script>
</head>
<body>

<input id="catName" type="text" placeholder="Name of the Category">
<select id="category">
    <option value=1>1</option>
    <option value=2>2</option>
    <option value=3>3</option>
    <option value=4>4</option>
    <option value=5>5</option>

</select>

<button type="button" onclick="createCategory()"> Create Category </button>
<a id="create" hidden href="CreateQuest.html"></a>


</body>
<script>
    function createCategory() {
        let category = document.getElementById('catName').value;
        console.log(category);
        category=category.trim();
        category=category.replace(/ /g, "_");
        let e = document.getElementById("category");
        let selectedNum = e.options[e.selectedIndex].value;
        console.log(selectedNum);
        localStorage.setItem('catName',category);
        localStorage.setItem('selectedNum',selectedNum);
        let allquestion={};
        localStorage.setItem('allquestion',JSON.stringify(allquestion));
        document.getElementById('create').click();
    }

</script>
</html>