<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Quest</title>
</head>
<body>
<input type="text" id="question" style="width: 340px;">

<p> Seperate your answers with commas</p>

<textarea id='answers' rows="4" cols="50">

</textarea>

<button onclick="createQuestion()">Create Question</button>

<a id="done" href="CreateDone.html" hidden></a>

<script>
    function createQuestion() {
        let question = document.getElementById('question').value;
        question = question.trim();
        question = question.replace(/ /g, "_");
        console.log(question);

        let answers=document.getElementById('answers').value;
        answers=answers.split(',');
        for (let i=0; i<answers.length; i+=1){
            answers[i]=answers[i].trim();
            answers[i]=answers[i].replace(/ /g,"_");
        }
        let allquestion=JSON.parse(localStorage.getItem('allquestion'));
        allquestion[question]=answers;
        localStorage.setItem('allquestion',JSON.stringify(allquestion));
        console.log(allquestion);

        let questionsLeft=JSON.parse(localStorage.getItem('selectedNum'));
        questionsLeft=questionsLeft-1;
        localStorage.setItem('selectedNum',questionsLeft);
        console.log(questionsLeft);
        if (questionsLeft===0){
            ///Add post request here, too lazy to do now

            document.getElementById('done').click();

        }else {
            window.location.reload();
        };

    };

</script>

</body>
</html>