<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Quest</title>
    <script src="../static/scripts/requests.js"></script>
</head>
<body>
<div class="outer">
    <div class="inner">
        <div class="content">
            <input type="text" id="question" placeholder="Please enter question (eg. List all blue flags:)" class="name">

            <p class="generate2"> Enter all possible answers to this question, each seperated by a comma. (eg. Russia, Romania, Rwanda, etc.)</p>

            <textarea id='answers' rows="4" cols="50" placeholder="Seperate your answers with commas" class="name2">

            </textarea>

            <button onclick="createQuestion()" class="generate">Create Next Question</button>

            <a id="done" href="CreateDone.html" hidden></a>
        </div>
    </div>
</div>
<script>
    function createQuestion() {
        let question = document.getElementById('question').value;
        question = question.trim();
        question = question.replace(/ /g, "_");
        console.log(question);
        let category=localStorage.getItem('catName');
        postRequest(question,'http:192.168.0.101:5000/'+category+'/questions/');

        let answers=document.getElementById('answers').value;
        answers=answers.split(',');
        for (let i=0; i<answers.length; i+=1){
            answers[i]=answers[i].trim();
            answers[i]=answers[i].replace(/ /g,"_");
        }

        postRequest(answers,'http:192.168.0.101:5000/'+category + '/' + question + '/answers/');
        let allquestion=JSON.parse(localStorage.getItem('allquestion'));
        allquestion[question]=answers;
        localStorage.setItem('allquestion',JSON.stringify(allquestion));
        console.log(allquestion);

        let questionsLeft=JSON.parse(localStorage.getItem('selectedNum'));
        questionsLeft=questionsLeft-1;
        localStorage.setItem('selectedNum',questionsLeft);
        console.log(questionsLeft);
        if (questionsLeft===0){
            ///Add post request here, too lazy to do now

            let finishedCat={};
            finishedCat[category]=allquestion;
            document.getElementById('done').click();


        }else {
            window.location.reload();
        };

    };

</script>

</body>
</html>
