<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Default Cat 3a</title>
    <script src="../static/scripts/requests.js"></script>
    <link rel="stylesheet" href="DefaultCat.css">
</head>

<body>
<p>This is where you are going to pick a category</p>

<div class="outer">
    <div class="inner">
        <div class="content">
            <select id="category" class="dropdown"></select>
            <button type="button" class="generate" id="submitCat" onclick="submitCat()">Submit</button>
            <a id="nextPage" href="/showPin" hidden></a>
        </div>
    </div>
</div>
<!-- ip above will not stay static -->
<script>

    let xhr = new XMLHttpRequest();
    xhr.responseType="json";
    xhr.onreadystatechange=function(){
        if (xhr.readyState===XMLHttpRequest.DONE){
            let options=xhr.response;
            let select = document.getElementById("category");
            // Optional: Clear all existing options first:
            select.innerHTML = "";
            // Populate list with options:
            for (let i = 0; i < options.length; i++) {
                let opt = options[i];
                select.innerHTML += "<option value=\"" + opt + "\">" + opt + "</option>";
            }
        };
    };
    xhr.open('GET','http://192.168.0.101:5000/categories/');
    xhr.send();


    function submitCat() {
        let xhr2 = new  XMLHttpRequest();
        let e = document.getElementById("category");
        let selectedCat = e.options[e.selectedIndex].value;
        data=JSON.stringify(selectedCat);
        xhr2.responseType="json";
        xhr2.onreadystatechange=function(){
            if (xhr2.readyState===XMLHttpRequest.DONE){
                localStorage.setItem("category",selectedCat);
                pin=xhr2.response;
                console.log(pin);
                localStorage.setItem('pin',pin);
                document.getElementById('nextPage').click();
            }
        };
        xhr2.open('POST','http://192.168.0.101:5000/games/');
        xhr2.send(data);
        console.log(data);
    }



    //Make it so it just saves the selected variable, and have a button that logs the result to check, no need to print the
    //varaible, also fix variable names
</script>
</body>
</html>
