<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Final Scores</title>
</head>
<body onload="getScores()">
<p> This is the end game page for the host side</p>
<p id="scoreboard"></p>

<script>
    function getScores(){
        let pin=localStorage.getItem('pin');
        let xhr = new XMLHttpRequest();
        xhr.responseType="json";
        xhr.onreadystatechange=function(){
            if (xhr.readyState===XMLHttpRequest.DONE){
                let scores=JSON.parse(xhr.response);
                let list=document.getElementById('scoreboard');
                for(let i = 0; i<5; i++) {
                    if (scores[i] !== undefined) {
                        let entry = document.createElement('li');
                        let userName=Object.keys(scores[i]);
                        let usrScore=Object.values(scores[i]);
                        let item=(userName+': '+usrScore +' '+'points');
                        entry.appendChild(document.createTextNode(item));
                        console.log(scores[i]);
                        list.appendChild(entry);
                    }

                };
            };
            xhr.open('GET','http://192.168.0.101/' + pin +'/scores/');
            xhr.send();

        };
    }

</script>

</body>
</html>