<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Final Scores</title>
    <link rel="stylesheet" href="../static/style/FinalScores.css">
</head>
<body onload="getScores()">
<div class="outer">
    <div class="inner">
        <div class="content">
            <p class="generate2"> Final Standings</p>
            <ol id="scoreboard"  class="name2">

            </ol>

        </div>
    </div>
</div>
<script>

    function getScores(){
        let pin=JSON.parse(localStorage.getItem('pin'));
        let xhr = new XMLHttpRequest();
        xhr.responseType="json";
        xhr.onreadystatechange=function(){
            if (xhr.readyState===XMLHttpRequest.DONE){
                let scores = xhr.response;
                console.log(scores);
                let list=document.getElementById('scoreboard');
                for(let i = 0; i<scores.length; i++) {
                    if (scores[i] !== undefined) {
                        let entry = document.createElement('li');
                        let userName=scores[i][0];
                        let usrScore = scores[i][1];
                        let item=(userName+': '+usrScore +' '+'points');
                        entry.appendChild(document.createTextNode(item));
                        console.log(scores[i]);
                        list.appendChild(entry);
                    }

                };
            };


        };
        xhr.open('GET','http://192.168.0.101:5000/' + pin +'/scores/');
        xhr.send();
    }


</script>

</body>
</html>
