<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pin Enter 4b</title>
    <link rel="stylesheet" href="../static/style/PinEnter.css">
<script src="../static/scripts/requests.js"></script>
</head>
<body>

<input class = 'input1' type="text" id="pin" placeholder="Enter pin" maxlength="5">
<input class = 'input2' type="text" id="usrname" placeholder="Enter User Name" maxlength="10">
<button class = 'join' type="button" onclick="submitPin()"> Join </button>


<a id='nextPage' href="WaitBefore.html" hidden></a>

<script>
    function submitPin(){
        let pin=document.getElementById('pin').value;
        let usrName=document.getElementById('usrname').value;
        let xhr = new  XMLHttpRequest();
        xhr.responseType="json";
        xhr.onreadystatechange=function(){
            if (xhr.readyState===XMLHttpRequest.DONE){
                category=xhr.response;
                localStorage.setItem('category',category);
                localStorage.setItem('usrName', usrName);
                localStorage.setItem('pin', pin);
                console.log(xhr.response);
                document.getElementById('nextPage').click();
                return xhr.response;
            }
        };
        xhr.open('POST',"http://192.168.0.102:5000/join/" + pin + "/);
        xhr.send(usrName);

    }
</script>



</body>
</html>


</html>

