<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play</title>
    <link rel="stylesheet" href="../static/style/Play.css">

    <script src="../static/scripts/GameMods.js"></script>
    <script src="../static/scripts/requests.js"></script>
</head>
<body onload="timer; getAnswers()">



<a hidden id="wait" href="/waitDuring/"></a>
<a hidden id="done" href="/gameEnd/"></a>



<div class="timerwrapper">
    <div class="shrinking"></div>
</div>

<div class="pts">
    <p id="points" class="point">Points: 0</p>
</div>

<div>
    <p id="timer" class="timeBox"></p>
</div>

<div class="correctAnswers">
    <ul id="name0">

    </ul>

    <ul id="name1">

    </ul>

    <ul id="name2">

    </ul>

    <ul id="name3">

    </ul>

</div>

<div>
    <h3 id="question" class="question"></h3>
</div>

<div id="answers" class="searchFont" style="overflow: hidden; padding-right: 2em">
    <input type="text" id="answer" class="searchBox" placeholder="Type answer here..."/>
</div>

<div>
    <button type="button" id="submit" class="enterBox" onclick="onSubmit(answers,player)">Enter</button>
</div>

<script>
    //Choses the correct question from the local storage array
    let questionList= JSON.parse(localStorage.getItem("questionList"));
    let question=questionList[JSON.parse(localStorage.getItem("questionsNum"))];
    let correctAns=[];
    console.log(question);
    document.getElementById('question').textContent= question;
    ///Pulls answer from input box
    let input = document.getElementById("answer");
    input.addEventListener("keydown", function(event) {
        if (event.code === 'Enter') {
            document.getElementById("submit").click();
        }
    });
    ///Compares the answers and modified the player object
    function getAns() {
        let ans = document.getElementById("answer");
        return(ans.value);
    }
    document.getElementById('question').textContent= question;

    function getAnswers() {
        let xhr = new XMLHttpRequest();
        xhr.responseType = "json";
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                let answers = xhr.response;
            }
        };
        xhr.open('GET', url); //MUST MAKE THIS DYNAMIC
        xhr.send();
    }

    let player ={
        usrAnswers:[],
        score:0
    };
    function onSubmit(answers,player){
        player.score+=checkAns(getAns(),player.usrAnswers,answers);
        if (checkAns(getAns(),player.usrAnswers,answers)===1){
            correctAns.push(getAns());
            populateAns(0);
            populateAns(1);
            populateAns(2);
            populateAns(3);
        }
        player.usrAnswers.push(getAns());
        console.log(player.score,player.usrAnswers);
        document.getElementById('answer').value='';
        document.getElementById("points").textContent = ('Points: ' + player.score);
    };
    //Timer Things
    let timeleft=30;
    document.getElementById("timer").textContent = timeleft;
    let timer = setInterval(function(){
        timeleft--;
        document.getElementById("timer").textContent = timeleft;
        if(timeleft <= 0) {
            questionsLeft=(JSON.parse(localStorage.getItem('questionsNum')))+1;
            localStorage.setItem('score',JSON.stringify(JSON.parse(localStorage.getItem('score'))+player.score));
            pin = localStorage.getItem('pin');
            usrName=localStorage.getItem('usrName');
            postRequest([usrName, score],'http://192.168.0.101:5000/' + pin + '/scores/');
            if (questionsLeft===questionList.length){
                document.getElementById('done').click();
            }else{
                localStorage.setItem('questionsNum',questionsLeft);
                document.getElementById('wait').click();
            }
        }
    },1000);
    ///Edits the 4 lists (max 7 items) will have to make them all nice and shit in CSS later
    function populateAns(listNum){
        let list = document.getElementById('name'+listNum.toString());
        document.getElementById('name'+listNum.toString()).innerHTML = "";
        for(let i = 8*listNum; i < 8*listNum+8; i++) {
            if (correctAns[i] !== undefined){
                let entry = document.createElement('li');
                entry.appendChild(document.createTextNode(correctAns[i]));
                list.appendChild(entry);
            }
        }
    };
    ///The answers will be pulled from the server
    //Show something to indicate the player got a pint

</script>
</body>
</html>