<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ScoreBoard</title>
    <script src="../static/scripts/requests.js"></script>
</head>
<body onload="getScores()">
<p> This is going to show the score eventually</p>
<!-- This page is going to take me a little bit to make, but I'll try to get to it this weekend, this
is for between questions on the hosts side -->
<a href="/ShowQuest/">Next Question</a>
<p id="scoreboard"></p>

<button type="button" onclick="startGame()">Start Next Question</button>


</body>

<script>

    function getScores(){
        pin=localStorage.getItem('pin');
        let xhr = new XMLHttpRequest();
        xhr.responseType="json";
        xhr.onreadystatechange=function(){
            if (xhr.readyState===XMLHttpRequest.DONE){
                scores=JSON.parse(xhr.response);
                document.getElementById('scoreboard').textContent= scores;
                console.log(scores);
            }
        };
        xhr.open('GET','http://192.168.0.102/' + pin +'/scores/');
        xhr.send();

    }

    function startGame(){
        getRequests("http://192.168.0.102:5000/nextQuestion/");
        document.getElementById('next').click();
    };

</script>
</html>