<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ScoreBoard</title>
    <script src="../static/scripts/requests.js"></script>
</head>
<body onload="getScores()">
    
<div class="outer">
    <div class="inner">
        <div class="content">
            <p class="generate2"> Standings </p>
            <!-- This page is going to take me a little bit to make, but I'll try to get to it this weekend, this
            is for between questions on the hosts side -->
            <a href="/showQuest/" hidden id="next">Next Question</a>
            <ol id="scoreboard" class="name2">
            </ol>

            <button type="button" class="generate" onclick="startGame()">Start Next Question</button>
        </div>
    </div>
</div>
<script>

    function getScores(){
        let pin=JSON.parse(localStorage.getItem('pin'));
        let xhr = new XMLHttpRequest();
        xhr.responseType="json";
        xhr.onreadystatechange=function(){
            if (xhr.readyState===XMLHttpRequest.DONE){
                let scores = xhr.response;
                console.log(scores);
                let list=document.getElementById('scoreboard');
                for(let i = 0; i<5; i++) {
                    if (scores[i] !== undefined) {
                        let entry = document.createElement('li');
                        let userName=scores[i][0];
                        let usrScore = scores[i][1];
                        let item=(userName+': '+usrScore +' '+'points');
                        entry.appendChild(document.createTextNode(item));
                        console.log(scores[i]);
                        list.appendChild(entry);
                    }

                };
            };


        };
        xhr.open('GET','http://192.168.0.101:5000/' + pin +'/scores/');
        xhr.send();
    }



    function startGame(){
        getRequests("http://192.168.0.101:5000/nextQuestion/");
        document.getElementById('next').click();
    };

</script>
</body>


</html>
