<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question 5a</title>
    <script src="../static/scripts/Timer.js"></script>
    <link rel="stylesheet" href="../static/style/ShowQuest.css">
</head>

<body onload="timer">

<p class="questionNum" id="questionNum"> </p>

<p class="question" id="question"></p>

<p id="timer" class="timeBox"></p>

<a id="wait" hidden href="/scoreBoard/"></a>
<a id="done" hidden href="/finalScores/"></a>

<script>

    let questionList= JSON.parse(localStorage.getItem("questionList"));
    let question=questionList[JSON.parse(localStorage.getItem("questionsNum"))];
    console.log(question);
    document.getElementById('question').textContent= question;
    document.getElementById('questionNum').textContent=("Question #" + (JSON.parse(localStorage.getItem('questionsNum'))+1));

    let timeleft=40;
    document.getElementById("timer").textContent = timeleft;
    let timer = setInterval(function(){
        timeleft--;
        document.getElementById("timer").textContent = timeleft;
        if(timeleft <= 0) {
            questionsLeft=(JSON.parse(localStorage.getItem('questionsNum')))+1;
            if (questionsLeft===questionList.length){
                document.getElementById('done').click();
            }else{
                localStorage.setItem('questionsNum',questionsLeft);

                document.getElementById('wait').click();
            }

        }
    },1000);

</script>

</body>
</html>