<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8" class ="rcorners1">

    <title>Show Pin</title>
    <script src="../static/scripts/requests.js"></script>
    <link rel="stylesheet" href="../static/style/ShowPin.css">

</head>
<body onload="getPin()" >
<div class='whiteBox'> </div>
<p id="pin" class="orangeBox"></p>

<ul id="name0" class="listStyle1" >

</ul>

<ul id="name1" class="listStyle2">

</ul>

<ul id="name2" class="listStyle3" >

</ul>

<ul id="name3" class="listStyle4">

</ul>

<button type='button' class="startGame" onclick="startGame()"> Start Game</button>
<a href="/showQuest/" hidden id="next"></a>
</body>

<script>
    function getPin() {
        pin = localStorage.getItem("pin");
        document.getElementById("pin").textContent = ('Pin: ' + pin);
    };

    //I have this request on the last page, so just pull it from local storage


    let source = new EventSource("/stream");
    source.addEventListener('newPlayer', function(event) {
        let data = JSON.parse(event.data);
        players.push(data);
        populateList(0);
        populateList(1);
        populateList(2);
        populateList(3);
    }, false);
    source.addEventListener('error', function(event) {
        console.log("Failed to connect to event stream. Is Redis running?");
    }, false);



    let players=[];

    function populateList(listNum){
        let list = document.getElementById('name'+listNum.toString());
        document.getElementById('name'+listNum.toString()).innerHTML = "";
        for(let i = 5*listNum; i < 5*listNum+5; i++) {
            if (players[i] !== undefined){
                let entry = document.createElement('li');
                entry.appendChild(document.createTextNode(players[i]));
                list.appendChild(entry);
            }
        }
    }

    function startGame(){
        getRequests("http://192.168.0.101:5000/nextQuestion/");
        document.getElementById('next').click();
    };

    category=localStorage.getItem('category');
    //Uses the saved category from PinEnter to request the list of questions
    let xhr = new  XMLHttpRequest();
    xhr.onreadystatechange=function(){
        if (xhr.readyState===XMLHttpRequest.DONE){
            questionList=JSON.parse(xhr.response);
            localStorage.setItem("questionList",JSON.stringify(questionList));
            localStorage.setItem('questionsNum',0);
            localStorage.setItem('score',JSON.stringify(0));
        }
    };
    xhr.open('GET','http://192.168.0.101:5000/' + category +'/questions/');
    xhr.send();



</script>
</html>