<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wait 4c</title>
    <link rel="stylesheet" href="../static/style/WaitBefore.css">
    <script src="../static/scripts/requests.js"></script>
</head>
<body>
<div id="changeText" class="wait">Please wait for the game to start   </div>

<a href="Play.html">Go to question</a>
<!-- This page will possibly display the users score -->
</body>
<script>

    let text = ["Please wait for the game to start    ", "Please wait for the game to start.   ", "Please wait for the game to start..  ", "Please wait for the game to start..."];
    let counter = 0;
    let elem = document.getElementById("changeText");
    let inst = setInterval(change, 400);

    function change() {
        elem.innerHTML = text[counter];
        counter++;
        if (counter >= text.length) {
            counter = 0;
            //clearInterval(inst); // uncomment this if you want to stop refreshing after one cycle
        }
    }

    //Request a list of the questions, this is where these variables are set
    category=localStorage.getItem('category');
    //Uses the saved category from PinEnter to request the list of questions
    let xhr = new  XMLHttpRequest();
    xhr.onreadystatechange=function(){
        if (xhr.readyState===XMLHttpRequest.DONE){
            let questionList=JSON.parse(xhr.response);
            localStorage.setItem("questionList",JSON.stringify(questionList));
            localStorage.setItem('questionsNum',0);
            localStorage.setItem('score',JSON.stringify(0));
            console.log(JSON.parse(localStorage.getItem("questionList")));
            console.log(JSON.parse(localStorage.getItem('questionsNum')));
        }
    };
    xhr.open('GET','http://192.168.0.102:5000/' + category + '/questions/');
    xhr.send();




    let source = new EventSource("/stream");
    source.addEventListener('nextQuestion', function(event) {
        alert('Write a function here')
    }, false);
    source.addEventListener('error', function(event) {
        alert("Failed to connect to event stream. Is Redis running?");
    }, false);


</script>

</html>

