<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wait 7c</title>
    <link rel="stylesheet" href="../static/style/WaitDuring.css">
</head>
<body>
<a href="/Play/" id="go" hidden></a>

<p id = "scoreDisplay" class = "scoreBox"> </p>
<div id = "changeText" class = "waitText"> </div>

</body>
<script>
    
    let score=localStorage.getItem("score");
    document.getElementById('scoreDisplay').textContent = "You are currently in nth place with " +score+' points!';
   
   let text = ["Please wait for the next round to start   ", "Please wait for the next round to start.  ", "Please wait for the next round to start.. ", "Please wait for the next round to start..."];
   let counter = 0;
   let elem = document.getElementById("changeText");
   let inst = setInterval(change, 400);



   ///Random stuff Isen made
   function change() {
       elem.innerHTML = text[counter];
       counter++;
       if (counter >= text.length) {
           counter = 0;
           // clearInterval(inst); // uncomment this if you want to stop refreshing after one cycle
       }
   }

    let source = new EventSource("/stream");
    source.addEventListener('nextQuestion', function(event) {
        document.getElementById('go').click();
    }, false);
    source.addEventListener('error', function(event) {
        alert("Failed to connect to event stream. Is Redis running?");
    }, false);
</script>
</html>